<a href="https://colab.research.google.com/github/fontanadaniel11/pandas/blob/main/EserciziPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#fila a

1. inserire i dati di un file csv in un dataframe chiamato movies

In [ ]:
import pandas as pd
movies = pd.read_csv('https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv')
movies.head(10)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
7,Waitress,Romance,Independent,67,11.089742,89,$22.18,2007
8,Waiting For Forever,Romance,Independent,53,0.005000,6,$0.03,2011
9,Valentine's Day,Comedy,Warner Bros.,54,4.184038,17,$217.57,2010

2. visualizzare le ultime 8 righe del dataframe

In [ ]:
movies.tail(8)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007
70,Dear John,Drama,Sony,66,4.598800,29,$114.97,2010
71,Beginners,Comedy,Independent,80,4.471875,84,$14.31,2011
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

3. visualizzare solo le colonne che contengono il titolo e il genere del film

In [ ]:
movies.iloc[:, 0:2]

                                  Film    Genre
0           Zack and Miri Make a Porno  Romance
1                      Youth in Revolt   Comedy
2   You Will Meet a Tall Dark Stranger   Comedy
3                         When in Rome   Comedy
4                What Happens in Vegas   Comedy
..                                 ...      ...
72                 Across the Universe  romance
73                       A Serious Man    Drama
74                  A Dangerous Method    Drama
75                          27 Dresses   Comedy
76                (500) Days of Summer   comedy

[77 rows x 2 columns]

In [ ]:
movies[["Film", "Genre"]]

                                  Film    Genre
0           Zack and Miri Make a Porno  Romance
1                      Youth in Revolt   Comedy
2   You Will Meet a Tall Dark Stranger   Comedy
3                         When in Rome   Comedy
4                What Happens in Vegas   Comedy
..                                 ...      ...
72                 Across the Universe  romance
73                       A Serious Man    Drama
74                  A Dangerous Method    Drama
75                          27 Dresses   Comedy
76                (500) Days of Summer   comedy

[77 rows x 2 columns]

4. visualizzare le righe del dataframe dalla 20 alla 30

In [ ]:
movies.iloc[20:31]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,81,1.783944,73,$285.43,2008
21,The Back-up Plan,Comedy,CBS,47,2.202571,20,$77.09,2010
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010
23,Something Borrowed,Romance,Independent,48,1.719514,15,$60.18,2011
24,She's Out of My League,Comedy,Paramount,60,2.440500,57,$48.81,2010
25,Sex and the City Two,Comedy,Warner Bros.,49,2.883500,15,$288.35,2010
26,Sex and the City 2,Comedy,Warner Bros.,49,2.883500,15,$288.35,2010
27,Sex and the City,Comedy,Warner Bros.,81,7.221796,49,$415.25,2008
28,Remember Me,Drama,Summit,70,3.491250,28,$55.86,2010
29,Rachel Getting Married,Drama,Independent,61,1.384167,85,$16.61,2008
30,Penelope,Comedy,Summit,74,1.382800,52,$20.74,2008

In [ ]:
movies[20:31]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,81,1.783944,73,$285.43,2008
21,The Back-up Plan,Comedy,CBS,47,2.202571,20,$77.09,2010
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010
23,Something Borrowed,Romance,Independent,48,1.719514,15,$60.18,2011
24,She's Out of My League,Comedy,Paramount,60,2.440500,57,$48.81,2010
25,Sex and the City Two,Comedy,Warner Bros.,49,2.883500,15,$288.35,2010
26,Sex and the City 2,Comedy,Warner Bros.,49,2.883500,15,$288.35,2010
27,Sex and the City,Comedy,Warner Bros.,81,7.221796,49,$415.25,2008
28,Remember Me,Drama,Summit,70,3.491250,28,$55.86,2010
29,Rachel Getting Married,Drama,Independent,61,1.384167,85,$16.61,2008
30,Penelope,Comedy,Summit,74,1.382800,52,$20.74,2008

5. visualizzare i titolo e l’anno dei film che si trovano nelle posizioni 23, 29 e 45

In [ ]:
movies[(movies.index == 23) | (movies.index == 29) | (movies.index == 45)][["Film", "Year"]]

                      Film  Year
23      Something Borrowed  2011
29  Rachel Getting Married  2008
45              Mamma Mia!  2008

In [ ]:
movies.iloc[[23, 29, 45]][["Film", "Year"]]

                      Film  Year
23      Something Borrowed  2011
29  Rachel Getting Married  2008
45              Mamma Mia!  2008

6. visualizzare i titoli dei film del genere “Animation”

In [ ]:
movies[movies["Genre"] == "Animation"][["Film"]]

                 Film
6              WALL-E
22            Tangled
64  Gnomeo and Juliet
65  Gnomeo and Juliet

7. visualizzare i titoli dei film prodotti dalla “Disney” e dalla “20th Century Fox”

In [ ]:
movies[movies["Lead Studio"].isin(["Disney", "20th Century Fox"])][["Film"]]

                                  Film
3                         When in Rome
5                  Water For Elephants
6                               WALL-E
16                        The Proposal
22                             Tangled
41                         Monte Carlo
60  High School Musical 3: Senior Year
64                   Gnomeo and Juliet
65                   Gnomeo and Juliet
69                           Enchanted

8. visualizzare i titoli dei film usciti dal 2005 al 2010

In [ ]:
movies[(movies["Year"] >= 2005) & (movies["Year"] <= 2010)][["Film"]]

                                  Film
0           Zack and Miri Make a Porno
1                      Youth in Revolt
2   You Will Meet a Tall Dark Stranger
3                         When in Rome
4                What Happens in Vegas
..                                 ...
70                           Dear John
72                 Across the Universe
73                       A Serious Man
75                          27 Dresses
76                (500) Days of Summer

[63 rows x 1 columns]

9. visualizzare l’ “Audience score %” medio dei film del genere “Drama”

In [ ]:
movies[movies["Genre"] == "Drama"]["Audience score %"].mean()

67.23076923076923

10. diminuire del 10% il valore delle recensioni presenti nel campo “Audience score %”

In [ ]:
movies["Audience score %"] = movies["Audience score %"] - (movies["Audience score %"]/100*10)
movies.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,63.0,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,46.8,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,31.5,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,39.6,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,64.8,6.267647,28,$219.37,2008

In [ ]:
movies["Audience score %"] = movies["Audience score %"] * 0.9

In [ ]:
movies.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,63.0,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,46.8,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,31.5,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,39.6,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,64.8,6.267647,28,$219.37,2008

In [ ]:
#aumentare del 10%
movies["Audience score %"] = movies["Audience score %"] * 1.1

In [ ]:
#subtract(10): aumenta di 10 il valore del dato preso in considerazione

#fila b

1. visualizzare le prime 12 righe del dataframe

In [ ]:
movies.head(12)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
7,Waitress,Romance,Independent,67,11.089742,89,$22.18,2007
8,Waiting For Forever,Romance,Independent,53,0.005000,6,$0.03,2011
9,Valentine's Day,Comedy,Warner Bros.,54,4.184038,17,$217.57,2010
10,Tyler Perry's Why Did I get Married,Romance,Independent,47,3.724192,46,$55.86,2007
11,Twilight: Breaking Dawn,Romance,Independent,68,6.383364,26,$702.17,2011

2. visualizzare le colonne 3, 4, 5 e 6

In [ ]:
movies.iloc[:, 3:7]

    Audience score %  Profitability  Rotten Tomatoes % Worldwide Gross
0               63.0       1.747542                 64         $41.94
1               46.8       1.090000                 68         $19.62
2               31.5       1.211818                 43         $26.66
3               39.6       0.000000                 15         $43.04
4               64.8       6.267647                 28        $219.37
..               ...            ...                ...             ...
72              75.6       0.652603                 54         $29.37
73              57.6       4.382857                 89         $30.68
74              80.1       0.448645                 79          $8.97
75              63.9       5.343622                 40        $160.31
76              72.9       8.096000                 87         $60.72

[77 rows x 4 columns]

3. visualizzare le righe del dataframe che si trovano dalla decima alla trentesima posizione

In [ ]:
movies.iloc[10:31]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
10,Tyler Perry's Why Did I get Married,Romance,Independent,42.3,3.724192,46,$55.86,2007
11,Twilight: Breaking Dawn,Romance,Independent,61.2,6.383364,26,$702.17,2011
12,Twilight,Romance,Summit,73.8,10.180027,49,$376.66,2008
13,The Ugly Truth,Comedy,Independent,61.2,5.402632,14,$205.30,2009
14,The Twilight Saga: New Moon,Drama,Summit,70.2,14.196400,27,$709.82,2009
15,The Time Traveler's Wife,Drama,Paramount,58.5,2.598205,38,$101.33,2009
16,The Proposal,Comedy,Disney,66.6,7.867500,43,$314.70,2009
17,The Invention of Lying,Comedy,Warner Bros.,42.3,1.751351,56,$32.40,2009
18,The Heartbreak Kid,Comedy,Paramount,36.9,2.129444,30,$127.77,2007
19,The Duchess,Drama,Paramount,61.2,3.207850,60,$43.31,2008
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,72.9,1.783944,73,$285.43,2008
21,The Back-up Plan,Comedy,CBS,42.3,2.202571,20,$77.09,2010
22,Tangled,Animation,Disney,79.2,1.365692,89,$355.01,2010
23,Something Borrowed,Romance,Independent,43.2,1.719514,15,$60.18,2011
24,She's Out of My League,Comedy,Paramount,54.0,2.440500,57,$48.81,2010
25,Sex and the City Two,Comedy,Warner Bros.,44.1,2.883500,15,$288.35,2010
26,Sex and the City 2,Comedy,Warner Bros.,44.1,2.883500,15,$288.35,2010
27,Sex and the City,Comedy,Warner Bros.,72.9,7.221796,49,$415.25,2008
28,Remember Me,Drama,Summit,63.0,3.491250,28,$55.86,2010
29,Rachel Getting Married,Drama,Independent,54.9,1.384167,85,$16.61,2008
30,Penelope,Comedy,Summit,66.6,1.382800,52,$20.74,2008

4. visualizzare il genere e lo studio dei film che si trovano dalla decima alla ventesima posizione

In [ ]:
movies[10:31][["Genre", "Lead Studio"]]

        Genre   Lead Studio
10    Romance   Independent
11    Romance   Independent
12    Romance        Summit
13     Comedy   Independent
14      Drama        Summit
15      Drama     Paramount
16     Comedy        Disney
17     Comedy  Warner Bros.
18     Comedy     Paramount
19      Drama     Paramount
20    Fantasy  Warner Bros.
21     Comedy           CBS
22  Animation        Disney
23    Romance   Independent
24     Comedy     Paramount
25     Comedy  Warner Bros.
26     Comedy  Warner Bros.
27     Comedy  Warner Bros.
28      Drama        Summit
29      Drama   Independent
30     Comedy        Summit

6. visualizzare le informazioni del film “When in Rome”

In [ ]:
movies[movies["Film"] == "When in Rome"]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
3,When in Rome,Comedy,Disney,39.6,0.0,15,$43.04,2010

7. visualizzare  le informazioni dei film “When in Rome”, “Waitress” e “WALL-E”

In [ ]:
movies[(movies["Film"] == "When in Rome") | (movies["Film"] == "Waitress") | (movies["Film"] == "WALL-E")]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
7,Waitress,Romance,Independent,67,11.089742,89,$22.18,2007

In [ ]:
movies[movies["Film"].isin(["When in Rome", "Waitress", "WALL-E"])]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
7,Waitress,Romance,Independent,67,11.089742,89,$22.18,2007

8. visualizzare i titoli dei film che hanno avuto una recensione di Rotten Tomatoes compresa tra 80 e 90

In [ ]:
movies[(movies["Rotten Tomatoes %"] >= 80) & (movies["Rotten Tomatoes %"] <= 90)][["Film"]]

                      Film
7                 Waitress
22                 Tangled
29  Rachel Getting Married
39    My Week with Marilyn
57               Jane Eyre
71               Beginners
73           A Serious Man
76    (500) Days of Summer

9. visualizzare il valore più alto della recensione di Rotten Tomatoes

In [ ]:
movies["Rotten Tomatoes %"].max()

96

10. aumentare del 10% il valore delle recensioni di Rotten Tomatoes

In [ ]:
movies["Rotten Tomatoes %"] = movies["Rotten Tomatoes %"] + (movies["Rotten Tomatoes %"]/100*10)
movies.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,70.4,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,74.8,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,47.3,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,16.5,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,30.8,$219.37,2008