<a href="https://colab.research.google.com/github/fontanadaniel11/pandas/blob/main/utilizzo%20stringhe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
movies = pd.read_csv('https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv')

1. trovare la parola Porno nei nomi dei film

In [ ]:
movies[movies["Film"].str.contains("Porno")]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008

2. trovare la parola de nei nomi dei film

In [ ]:
movies[movies["Film"].str.contains("The")]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
13,The Ugly Truth,Comedy,Independent,68,5.402632,14,$205.30,2009
14,The Twilight Saga: New Moon,Drama,Summit,78,14.196400,27,$709.82,2009
15,The Time Traveler's Wife,Drama,Paramount,65,2.598205,38,$101.33,2009
16,The Proposal,Comedy,Disney,74,7.867500,43,$314.70,2009
17,The Invention of Lying,Comedy,Warner Bros.,47,1.751351,56,$32.40,2009
18,The Heartbreak Kid,Comedy,Paramount,41,2.129444,30,$127.77,2007
19,The Duchess,Drama,Paramount,68,3.207850,60,$43.31,2008
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,81,1.783944,73,$285.43,2008
21,The Back-up Plan,Comedy,CBS,47,2.202571,20,$77.09,2010

3. trovare i film che cominciano con la t

In [ ]:
movies[movies["Film"].str.startswith("T")]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
13,The Ugly Truth,Comedy,Independent,68,5.402632,14,$205.30,2009
14,The Twilight Saga: New Moon,Drama,Summit,78,14.196400,27,$709.82,2009
15,The Time Traveler's Wife,Drama,Paramount,65,2.598205,38,$101.33,2009
16,The Proposal,Comedy,Disney,74,7.867500,43,$314.70,2009
17,The Invention of Lying,Comedy,Warner Bros.,47,1.751351,56,$32.40,2009
18,The Heartbreak Kid,Comedy,Paramount,41,2.129444,30,$127.77,2007
19,The Duchess,Drama,Paramount,68,3.207850,60,$43.31,2008
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,81,1.783944,73,$285.43,2008
21,The Back-up Plan,Comedy,CBS,47,2.202571,20,$77.09,2010

4. trovare i film che finiscono in on

In [ ]:
movies[movies["Film"].str.endswith("on")]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
14,The Twilight Saga: New Moon,Drama,Summit,78,14.196400,27,$709.82,2009
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,81,1.783944,73,$285.43,2008

5. visualizzare i titoli dei film in ordine alfabetico

In [ ]:
movies.sort_values(by=['Film'])

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
...,...,...,...,...,...,...,...,...
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008

6. visualizzare i titoli dei film da z-a

In [ ]:
movies.sort_values(by=["Film"], ascending = False)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

7. ordinare in ordine alfetico sul genere e poi all'interno del genere, ordinare i film

In [ ]:
movies.sort_values(by=["Genre", "Film"])

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
55,Killers,Action,Lionsgate,45,1.245333,11,$93.40,2010
64,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011
65,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
...,...,...,...,...,...,...,...,...
7,Waitress,Romance,Independent,67,11.089742,89,$22.18,2007
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
43,Midnight in Paris,Romence,Sony,84,8.744706,93,$148.66,2011
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007